:root {
  --basic-white: #ffffff;
  --basic-black: #000000;

  --green-dark: #001302;

  --green-transparent: rgba(1, 31, 4, 0.5);
  --green: #012904;
}

/* ------------------------------------*|
  #SCSS-variables
/*------------------------------------ */
