.catalog {
  padding-top: 120px;
  padding-bottom: 85px;
  background-color: var(--green-dark);
}

.catalog__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 150px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog__item {
  width: 462px;
  height: 462px;
}
