.content {
  padding-top: 80px;
  padding-bottom: 140px;
  background-image: url("../img/content/background-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.content__photo-list {
  margin-bottom: 380px;
}

.content__video {
  width: 889px;
  height: 427px;
  margin: 0 auto;
  background-color: #c4c4c4;
}

.video {
}
