.header {
  position: relative;
  z-index: 2;
  padding-top: 20px;
  padding-bottom: 20px;
  // background: linear-gradient(180deg, #002604 0%, #040805 100%);
  background-color: var(--basic-black);
}

.header__navigation {
}
