.photo__slider {
  cursor: grab;
}

.photo__container {
}

.photo__wrapper {
  margin: 0;
  padding: 0;
  list-style: none;
}

.photo__slide {
  padding: 0 35px;

  @media (max-width: 440px) {
    padding: 0;
  }
}

.photo__image {
  position: relative;
  width: 100%;
  height: 388px;
}

.photo__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
