.photo-list {
  display: grid;
  grid-template-columns: repeat(3, 374px);
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  padding: 0;
  column-gap: 94px;
  list-style: none;
}

.photo-list__item {
}
