.slider {
  padding-bottom: 50px;
}

.slider__button {
  color: #ffffff;
  font-size: 50px;

  &--prev {
    left: 0;
  }

  &--next {
    right: 0;
  }
}

.slider .swiper-pagination {
  bottom: 0px;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  font-size: 14px;
  line-height: 20;
  background-color: #ffffff;
}
