.video {
}

.video__slider {
}



.video__slide {
text-align: center;
}

/* pagination */


.video__slider .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  font-size: 14px;
  line-height: 20;
  background-color: #ffffff;
}


/* iframe */

.video__iframe {
  width: 900px;
  height: 506px;

  @media (max-width: 1050px) {
    width: 700px;
    height: 394px;
  }

  @media (max-width: 840px) {
    width: 600px;
    height: 338px;
  }

  @media (max-width: 740px) {
    width: 500px;
    height: 281px;
  }

  @media (max-width: 640px) {
    width: 400px;
    height: 225px;
  }
}
